mientornovirtual
.mientornovirtual
/mientornovirtual
__pycache__
.__pycache__
/__pycache__
__pycache__/
.vsc
node_modules/
.node_modules
.venv
archivo
.archivo
Dockerfile
.Dockerfile
img
.img
requeriment_extras.txt
.requeriment_extras.txt
comandos.txt
.comandos.txt
